<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Mail Interface</title>
                    <link rel="stylesheet" type="text/css" href="/css/style.css">
                    </head>
                    <body>
                        <div class="mail-container">
                            <h2>Send a Mail</h2>
                            <form action="/api/email/v1/send_mail/" method="post">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" required>

                                    <label for="message">Message:</label>
                                    <textarea id="message" name="mail_body" rows="4" required></textarea>

                                    <button type="submit">Send</button>
                            </form>
                        </div>
                    </body>
                </html>
